{{- $skill := . -}}
{{- $icon := $skill.icon | default "" -}}
{{- if hasPrefix $icon "devicon/" -}}
  {{- $path := strings.TrimPrefix "devicon/" $icon -}}
  <img class="skill-logo" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ $path }}" alt="" width="42" height="42" loading="lazy">
{{- else if eq $icon "custom/sql" -}}
  <svg viewBox="0 0 64 64" aria-hidden="true">
    <ellipse cx="32" cy="13" rx="18" ry="7"></ellipse>
    <path d="M14 13v30c0 3.9 8.1 7 18 7s18-3.1 18-7V13"></path>
    <path d="M14 23c0 3.9 8.1 7 18 7s18-3.1 18-7"></path>
    <path d="M14 33c0 3.9 8.1 7 18 7s18-3.1 18-7"></path>
  </svg>
{{- else if eq $icon "custom/mlflow" -}}
  <span class="skill-custom-icon">ML</span>
{{- else -}}
  <span class="skill-custom-icon">{{ substr $skill.label 0 2 }}</span>
{{- end -}}
